<div mat-dialog-content>
    <form class="form" [formGroup]="myForm"  #createForm="ngForm" (ngSubmit)="onSubmit()">

        <div style="text-align:center;">
            <h2>Tạo mới bác sĩ</h2>
        </div>

        <mat-form-field>
            <mat-label>Tài khoản</mat-label>
            <input required matInput formControlName="username">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Họ</mat-label>
            <input required matInput formControlName="userFName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tên</mat-label>
            <input required matInput formControlName="userLName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input required matInput formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>SĐT</mat-label>
            <input required matInput formControlName="phoneNum">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Địa chỉ</mat-label>
            <input required matInput formControlName="address">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Ngày sinh</mat-label>
            <input required matInput type="date" formControlName="birthDate">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions style="display:flex; justify-content: flex-end;">
    <button type="submit"(click)="onSubmit()" mat-raised-button color="primary" [disabled]="!createForm.valid">Tạo</button>

    <button mat-raised-button (click)="onNoClick()">Hủy</button>
</div>
