<div mat-dialog-content>
    <form class="form" [formGroup]="myForm" #createForm="ngForm" (ngSubmit)="onSubmit()">

    
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input required matInput formControlName="username">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input required matInput formControlName="userFName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input required matInput formControlName="userLName">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input required matInput formControlName="email">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input required matInput formControlName="phoneNum">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input required matInput formControlName="address">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Birthdate</mat-label>
            <input required matInput type="date" formControlName="birthDate">
        </mat-form-field>
    

	<input required type="file"/>


        <button type="submit" [disabled]="!createForm.valid">Create</button>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>
