<div mat-dialog-content>
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Sicknesss name</mat-label>
            <input matInput formControlName="sickName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sickness description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sick type</mat-label>
            <mat-select formControlName="typeSickId">
                <mat-option *ngFor="let type of sicktypes" [value]="type.typeSickId">
                    {{type.typeSickName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button type="submit">Create</button>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>
