<div mat-dialog-content>
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">

    
        <mat-form-field>
            <mat-label>Medicine name</mat-label>
            <input matInput formControlName="medicinename">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <input matInput formControlName="status">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Count</mat-label>
            <input type="number" matInput formControlName="count">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Pack</mat-label>
            <input  matInput formControlName="pack">
        </mat-form-field>

        <button type="submit">Create</button>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>