<div mat-dialog-content>
    <form class="form" [formGroup]="myForm" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Department name</mat-label>
            <input required minlength="4" matInput formControlName="departmentName">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions style="display:flex; justify-content: flex-end;">
    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" [disabled]="!loginForm.valid">Sửa</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>