<div mat-dialog-content>
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Medicine name</mat-label>
            <input matInput formControlName="medicineName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Pack</mat-label>
            <input  matInput formControlName="medicinePack">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Type</mat-label>
            <input  matInput formControlName="medicineType">
        </mat-form-field>
	
        <button type="submit">Create</button>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>
