<div mat-dialog-content>
    <form class="form" [formGroup]="myForm" #createForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Tên thuốc</mat-label>
            <input required matInput formControlName="medicineName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mô tả</mat-label>
            <textarea required matInput formControlName="medicineDescription"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Kiểu đóng gói</mat-label>
            <mat-select formControlName="medicinePack" required>
                <mat-option *ngFor="let pack of packs" [value]="pack.value">
                    {{pack.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Loại thuốc</mat-label>
            <mat-select formControlName="medicineType" required>
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>


    </form>
</div>
<div mat-dialog-actions style="display:flex; justify-content: flex-end;">
    <button type="submit" (click)="onSubmit()" mat-raised-button color="primary"
        [disabled]="!createForm.valid">Tạo</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>