<div mat-dialog-content>

    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="fullname">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput type="date" formControlName="birthday">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Image</mat-label>
            <input matInput formControlName="img">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select formControlName="deptId">
                <mat-option *ngFor="let dept of listDept" [value]="dept.deptid">
                    {{dept.deptname}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <button type="submit">Create</button>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>